<div class="card-body">
<div class="row align-items-start">
<div class="col">
<h4>Twoi kontrahenci</h4>
<table class="table table-hover">
    <thead>
    <tr>
        <th style="cursor: pointer" scope="col" ng-click="sort('nazwa')">Nazwa
            <i class="fa" ng-class="{'fa-sort': sortowanoPo.par != 'nazwa',
            'fa-sort-up': sortowanoPo.par == 'nazwa' && sortowanoPo.rosn,
            'fa-sort-down': sortowanoPo.par == 'nazwa' && !sortowanoPo.rosn}"></i></th>
        <th style="cursor: pointer" scope="col" ng-click="sort('adres')">Adres
            <i class="fa" ng-class="{'fa-sort': sortowanoPo.par != 'adres',
            'fa-sort-up': sortowanoPo.par == 'adres' && sortowanoPo.rosn,
            'fa-sort-down': sortowanoPo.par == 'adres' && !sortowanoPo.rosn}"></i></th>
            <th style="cursor: pointer" scope="col" ng-click="sort('kod')">Kod
            <i class="fa" ng-class="{'fa-sort': sortowanoPo.par != 'kod',
            'fa-sort-up': sortowanoPo.par == 'kod' && sortowanoPo.rosn,
            'fa-sort-down': sortowanoPo.par == 'kod' && !sortowanoPo.rosn}"></i></th>
        <th style="cursor: pointer" scope="col" ng-click="sort('miejscowosc')">Miasto
            <i class="fa" ng-class="{'fa-sort': sortowanoPo.par != 'miejscowosc',
            'fa-sort-up': sortowanoPo.par == 'miejscowosc' && sortowanoPo.rosn,
            'fa-sort-down': sortowanoPo.par == 'miejscowosc' && !sortowanoPo.rosn}"></i></th>
        <th scope="col">Opcje</th>
    </tr>
    </thead>
    <tbody>
        <div>
            <tr ng-Repeat="x in kontrahenciT">
                <td>{{ x.nazwa }}</td>
                <td>{{ x.adres }}</td>
                <td>{{ x.kod }}</td>
                <td>{{ x.miejscowosc }}</td>
                <td>
                    <a class="fa fa-edit" href="#!newKontrahent?kontrahent={{x._id}}"></a>
                    <i ng-if="x.zespolID" class="fa fa-trash" style="cursor: pointer" ng-click="removeKontrahent($index)"></i>
                </td>
            </tr>
        </div>
    </tbody>
</table>
<a class="btn btn-primary" href="#!newKontrahent">Dodaj nowy</a>
<span style="float: right" ng-if="sortowanoPo.par">Sortowanie po kolumnie: '{{sortowanoPo.par}}' - {{sortowanoPo.rosn ? 'rosnąco' : 'malejąco'}}.</span>
</div>

<div class="col">
<h4>Inni kontrahenci</h4>
<table class="table table-hover">
    <thead>
    <tr>
        <th style="cursor: pointer" scope="col" ng-click="sort('nazwa')">Nazwa
            <i class="fa" ng-class="{'fa-sort': sortowanoPo.par != 'nazwa',
            'fa-sort-up': sortowanoPo.par == 'nazwa' && sortowanoPo.rosn,
            'fa-sort-down': sortowanoPo.par == 'nazwa' && !sortowanoPo.rosn}"></i></th>
        <th style="cursor: pointer" scope="col" ng-click="sort('adres')">Adres
            <i class="fa" ng-class="{'fa-sort': sortowanoPo.par != 'adres',
            'fa-sort-up': sortowanoPo.par == 'adres' && sortowanoPo.rosn,
            'fa-sort-down': sortowanoPo.par == 'adres' && !sortowanoPo.rosn}"></i></th>
        <th style="cursor: pointer" scope="col" ng-click="sort('kod')">Kod
            <i class="fa" ng-class="{'fa-sort': sortowanoPo.par != 'kod',
            'fa-sort-up': sortowanoPo.par == 'kod' && sortowanoPo.rosn,
            'fa-sort-down': sortowanoPo.par == 'kod' && !sortowanoPo.rosn}"></i></th>
        <th style="cursor: pointer" scope="col" ng-click="sort('miejscowosc')">Miasto
            <i class="fa" ng-class="{'fa-sort': sortowanoPo.par != 'miejscowosc',
            'fa-sort-up': sortowanoPo.par == 'miejscowosc' && sortowanoPo.rosn,
            'fa-sort-down': sortowanoPo.par == 'miejscowosc' && !sortowanoPo.rosn}"></i></th>
    </tr>
    </thead>
    <tbody>
        <div>
            <tr ng-Repeat="x in kontrahenci">
                <td>{{ x.nazwa }}</td>
                <td>{{ x.adres }}</td>
                <td>{{ x.kod }}</td>
                <td>{{ x.miejscowosc }}</td>
            </tr>
        </div>
    </tbody>
</table>
<span ng-if="sortowanoPo.par">Sortowanie po kolumnie: '{{sortowanoPo.par}}' - {{sortowanoPo.rosn ? 'rosnąco' : 'malejąco'}}.</span>
</div>
</div>
</div>